@import "colors";

@mixin marker($size, $color, $bg-color) {
  display: flex;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $bg-color;
  color: $color;
  align-items: center;
  justify-content: center;
}

@mixin simple-shadow() {
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

@mixin custom-shadow($color) {
  box-shadow:
    0 0.3em 0.5em -0.2em rgba($color, 1),
    0 1em 2em -0.75em rgba($color, 0.75),
    0 1em 3em -0.5em rgba($color, 0.5),
    0 3em 3em -0.25em rgba($color, 0.2);
}

@mixin zoom-control-style() {
  font-size: 40px;
  font-weight: 300;
  border: none;
  text-indent: 0;
  font-family: "Source Sans Pro";
  margin-bottom: 10px;
}

@mixin leaflet-cm-styles() {
  .entrance {
    @include marker(20px, white, #304187);
    @include custom-shadow(#304187);
  }

  .location {
    @include marker(20px, white, #304187);
  }

  .leaflet-control-container .leaflet-control-zoom.leaflet-bar {
    border: none;
    .leaflet-control-zoom-in {
      @include zoom-control-style;
      @include marker(40px, #222, white);
      @include simple-shadow;
    }
    .leaflet-control-zoom-out {
      @include zoom-control-style;
      @include marker(40px, #222, white);
      @include simple-shadow;
    }
  }
}
