@import "colors";

@mixin marker($size, $color, $bg-color, $shadow) {
  display: flex;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $bg-color;
  color: $color;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

@mixin zoom-control-style() {
  font-size: 40px;
  font-weight: 300;
  border: none;
  text-indent: 0;
  font-family: "Source Sans Pro";
  margin-bottom: 10px;
}

@mixin leaflet-cm-styles() {
  .entrance {
    @include marker(20px, white, #304187, #304187);
  }

  .location {
    @include marker(20px, white, #304187, #304187);
    box-shadow: none;
  }

  .leaflet-control-container .leaflet-control-zoom.leaflet-bar {
    border: none;
    .leaflet-control-zoom-in {
      @include zoom-control-style;
      @include marker(40px, #222, white, #222)
    }
    .leaflet-control-zoom-out {
      @include zoom-control-style;
      @include marker(40px, #222, white, #222)
    }
  }
}
