@mixin marker($size, $color, $bg-color, $shadow) {
  display: flex;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $bg-color;
  color: $color;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  &:disabled {
    color: lighten($color, 50%);
    background-color: darken($bg-color, 5%);
  }
}

@mixin marker-hover($color) {
  transition: 0.3s ease;
  &:hover {
    background-color: $color;
  }
}

:host {
  position: absolute;
  left: 10px;
  top: 110px;
  z-index: 1300;
  .home-button {
    margin-bottom: 10px;
    outline: none;
    @include marker(40px, #222, white, #222);
    @include marker-hover(#f5f5f5);
  }
}
