@import "../../styles/colors";
@import "../../styles/settings";
@import '../../../../node_modules/foundation-sites/scss/util/unit';
@import '../../../../node_modules/foundation-sites/scss/util/breakpoint';
@import '../../../../node_modules/foundation-sites/scss/util/color';
@import '../../../../node_modules/foundation-sites/scss/util/mixins';
@import '../../../../node_modules/foundation-sites/scss/util/selector';
@import '../../../../node_modules/foundation-sites/scss/util/util';
@import '../../../../node_modules/foundation-sites/scss/util/value';

@mixin simple-shadow() {
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

:host {
  background: white;
  position: relative;
  z-index: 1300;
  @include simple-shadow;
  @include breakpoint(medium) {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 300px;
    border-radius: 3px;
  }
  .search-field {
    padding: 5px 15px;
    margin-bottom: 0;
    border: none;
    border-right: 1px solid #eee;
    font-size: 1rem;
  }
  .search-button {
    color: $primary;
    cursor: pointer;
    padding: 15px;
    transition: 0.3s ease;
    &:hover {
      background-color: darken(white, 5%);
    }
  }
}
