<div class="grid-y grid-frame">
  <div class="cell shrink header">
    <div class="grid-x align-middle">
      <div class="cell small-10 medium-8">
        PŁ NAVIGATOR
      </div>
      <div class="cell hide-for-small-only medium-4">
        <label>
          <input type="text" class="no-margin-bottom" placeholder="Search...">
        </label>
      </div>
      <div class="cell show-for-small-only small-2 text-center">
        <span class="fa fa-search"></span>
      </div>
    </div>
  </div>
  <div class="cell auto main">
    <app-map></app-map>
  </div>
</div>
