<app-sidebar [hidden]="hiddenSidebar" (onActionButtonClick)="closeSidebar()">
  <div class="grid-x">
    <div class="small-2 medium-3 cell text-center">
      <h2><span class="fa fa-building"></span></h2>
    </div>
    <div class="small-10 medium-9 cell">
      <h2>{{selectedBuilding?.name}}</h2>
    </div>

    <div class="small-2 medium-3 cell text-center">
      <h2><small>
        <span class="fa fa-compass"></span>
      </small></h2>
    </div>
    <div class="small-10 medium-9 cell">
      <h2><small>
        {{selectedBuilding?.address}}
      </small></h2>
    </div>
  </div>
</app-sidebar>
<app-leaflet>
  <app-feature-group>
    <app-polygon *ngFor="let building of buildings" [properties]="building"
                 [coordinates]="building.geometry" (onClick)="displayInfoAboutBuilding($event)"></app-polygon>
  </app-feature-group>
  <app-feature-group>
    <app-marker *ngFor="let entry of selectedBuilding?.entries" [coordinates]="entry" [icon]="createEntranceIcon()"></app-marker>
  </app-feature-group>
  <app-feature-group>
    <app-marker *ngIf="location" [coordinates]="location" [icon]="createLocationIcon()"></app-marker>
  </app-feature-group>
  <app-navi-control (onLocationDetected)="setLocation($event)" (onHomePositionSet)="clearSelection()"></app-navi-control>
</app-leaflet>
