@import "../../styles/colors";
@import '../../../../node_modules/foundation-sites/scss/util/unit';
@import '../../../../node_modules/foundation-sites/scss/util/breakpoint';
@import '../../../../node_modules/foundation-sites/scss/util/color';
@import '../../../../node_modules/foundation-sites/scss/util/mixins';
@import '../../../../node_modules/foundation-sites/scss/util/selector';
@import '../../../../node_modules/foundation-sites/scss/util/util';
@import '../../../../node_modules/foundation-sites/scss/util/value';

$bg-color: #aaa;

@mixin marker($size, $color, $bg-color) {
  display: flex;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $bg-color;
  color: $color;
  align-items: center;
  justify-content: center;
}

:host {
  position: absolute;
  display: flex;
  flex-flow: column;
  z-index: 1200;
  background: white;
  transition: 0.6s ease;
  @include breakpoint(medium) {
    top: 15px;
    right: 15px;
    width: 300px;
    &.hidden {
      right: -315px;
    }
  }
  @include breakpoint(small only) {
    width: 100%;
    bottom: 0;
    right: 0;
    height: 300px;
    &.hidden {
      bottom: -350px;
    }
  }
  .content {
    padding: 15px 10px;
    position: relative;
    .action {
      position: absolute;
      top: -25px;
      right: 15px;
      outline: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      @include marker(50px, white, $primary);
    }
  }
}
